.page__container--admin {
  margin-top: 24px;
}

.new__products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-weight: 600;
  max-width: 280px;
  background-color: #ffc5e5;
  margin-top: 25px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 1px #ffc5e5;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.newproducts__p1 {
  padding: 6px;
}

.newproducts__button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 20px;
  font-weight: 6200;
  line-height: 4px;
  padding: 12px 12px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 12px;
}

.newproducts__button:hover {
  background-color: #fbc1f5;
}
